@import "react-perfect-scrollbar/dist/css/styles.css";

.schedule-page {
    margin: 20px;
    padding: 20px;
    /* Thêm padding cho toàn bộ vùng chứa bảng */
    background-color: #f9f9f9;
    border-radius: 8px;
    overflow-x: auto;
    /* Giúp cuộn ngang nếu bảng rộng */
}

.schedule-page h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.schedule-page table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    min-width: 800px;
    /* Đảm bảo bảng không bị thu nhỏ quá mức */
}

.schedule-page th,
.schedule-page td {
    padding: 10px;
    /* Padding cho các ô */
    text-align: center;
}

.schedule-page th {
    background-color: #fb923c;
    /* bg-orange-400 */
    ;
    ;
    color: white;
}

.schedule-page tr {
    border-bottom: 1px solid #ddd;
    /* Kẻ đường ngang cho các hàng */
}

.schedule-page tr:hover {
    background-color: #f5f5f5;
}

/* Loại bỏ viền dọc */
.schedule-page td {
    border-right: none;
}